.advantages {
  background-color: #ffffff;
  padding: 96px 0 0 48px;
  width: 1280px;
  margin: 0 auto;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.advantages__item {
  display: block;

  width: 570px;
  min-height: 299px;
  margin: 0 30px 30px 0;

  border: 1px solid #ebebeb;
  border-left: 2px solid $light-blue;
}

.advantages__link {
  position: relative;

  display: block;

  padding: 69px 0 0 42px;

  &--terms::before {
    content: "";
    position: absolute;

    width: 29px;
    height: 35px;

    background-image: url("../img/stopwatch.svg");
    background-repeat: no-repeat;
    left: 20px;
    top: 20px;
  }

  &--supply::before {
    content: "";
    position: absolute;

    width: 35px;
    height: 35px;

    background-image: url("../img/hired.svg");
    background-repeat: no-repeat;
    left: 43px;
    top: 39px;
  }

  &--confidentiality::before {
    content: "";
    position: absolute;

    width: 36px;
    height: 31px;

    background-image: url("../img/detective.svg");
    background-repeat: no-repeat;
    left: 43px;
    top: 42px;
  }

  &--personalization::before {
    content: "";
    position: absolute;

    width: 35px;
    height: 35px;

    background-image: url("../img/tag.svg");
    background-repeat: no-repeat;
    left: 43px;
    top: 39px;
  }
}

.advantages__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;

  margin-bottom: 18px;

  color: $light-blue;
}

.advantages__text {
  font-size: 16px;
  line-height: 22px;

  width: 482px;

  color: #666666;
}
