.advantages {
  background-color: #ffffff;
  padding: 111px 0 0 52px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;

  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;

  @include list-reset;
}

.advantages__item {
  display: block;

  width: 46%;
  min-height: 299px;
  margin: 0 38px 33px 0;
  padding: 38px 30px 38px 42px;

  border: 1px solid #ebebeb;
  border-left: 2px solid $light-blue;
}

.advantages__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;

  margin: 14px 0 0 0;

  color: $light-blue;
}

.advantages__text {
  font-size: 16px;
  line-height: 22px;

  color: #666666;
}

@media (max-width: 1023px) {
  .advantages {
    padding: 54px 0 0 3px;
  }

  .advantages__item {
    width: 48%;
    min-height: 232px;
    margin: 0 28px 30px 0;
    padding: 25px 22px 23px 25px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &--confidentiality,
    &--personalization,
    &--confidentiality a,
    &--personalization a {
      min-height: 232px;
    }
  }

  .advantages__text {
    width: 100%;
    margin: 0;
  }

  .advantages__title {
    margin: 0 0 9px 0;
  }

  .advantages__list {
    padding: 0 22px;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 37px 0 18px 0;
  }

  .advantages__list {
    min-width: 90%;
    margin: 0 auto;
    padding: 0 14px;
  }

  .advantages__item {
    width: 100%;
    min-height: 310px;
    margin: 0 0 20px 0;
    padding: 22px 14px 23px 25px;

    &--confidentiality,
    &--personalization,
    &--confidentiality a,
    &--personalization a {
      min-height: 232px;
    }
  }

  .advantages__title {
    font-size: 20px;
    line-height: 140.62%;

    margin: 7px 0 11px;
  }
}
