.feedback {
  background-color: $light-blue;
  background-image: url("../img/triangles@1x.png");
  background-repeat: no-repeat;
  background-position: -854px -178px;
  color: #ffffff;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/triangles@2x.png");
  }
}

.feedback__container {
  display: flex;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 87px 0;
}

.feedback__title {
  font-size: 36px;
  line-height: 51px;

  max-width: 570px;
  margin: 36px 0 0 -5px;
}

.feedback__text {
  max-width: 570px;
  margin: 12px 0 51px 0;
}

.feedback__push {
  display: flex;
}

.feedback input[type="text"],
.feedback input[type="tel"] {
  width: 270px;
  height: 50px;
  padding: 0 0 0 17px;
  margin: 0 30px 30px 0;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.feedback textarea {
  width: 570px;
  min-height: 154px;
  padding: 11px 16px 0 16px;
}

.feedback__button {
  width: 270px;
  min-height: 45px;
}

.feedback label {
  width: 291px;
  padding: 8px 0 0 70px;
}

.feedback__picture {
  margin: 161px 107px 0 -23px;
}

.feedback__form {
  margin: 55px 0 0 7px;
}

.feedback__data {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px;
}

.feedback__textarea {
  margin: 0 0 37px 0;
}

.feedback__checkbox {
  & input + label::before {
    left: 39px;
    top: 9px;
  }

  & input:checked + label::after {
    left: 42px;
    top: 14px;
  }
}

.feedback form {
  max-width: 570px;
}

@media (max-width: 1023px) {
  .feedback {
    background-image: none;
  }

  .feedback__container {
    max-width: 591px;
    padding: 77px 0 81px;
  }

  .feedback__picture {
    display: none;
  }

  .feedback__title {
    font-size: 32px;
    line-height: 140.62%;

    max-width: 590px;
    margin: 0;
  }

  .feedback__form {
    margin: 0;
  }

  .feedback__text {
    max-width: 590px;
    margin: 17px 6px 54px;
  }

  .feedback__data {
    margin: 0 0 12px;
  }

  .feedback input[type="text"],
  .feedback input[type="tel"] {
    width: 280px;
    height: 52px;
  }

  .feedback textarea {
    width: 590px;
    min-height: 160px;
  }

  .feedback__textarea {
    margin: 0 0 38px;
  }

  .feedback__button {
    width: 280px;
    min-height: 47px;
  }

  .feedback form {
    max-width: 590px;
    margin: 0 0 0 5px;
  }

  .feedback label {
    width: 264px;
  }
}

@media (max-width: 767px) {
  .feedback__container {
    max-width: 290px;
    padding: 27px 0 43px;
  }

  .feedback__title {
    width: 243px;

    font-size: 28px;
    line-height: 140.62%;
  }

  .feedback__text {
    margin: 14px 0 26px;
  }

  .feedback input[type="text"],
  .feedback input[type="tel"] {
    width: 290px;
    margin: 0 0 30px 0;
  }

  .feedback textarea {
    width: 290px;
    min-height: 104px;
  }

  .feedback__textarea {
    margin: 0 0 25px;
  }

  .feedback__data {
    flex-wrap: wrap;
    margin: 0;

    & input {
      margin: 0 0 30px 0;
    }
  }

  .feedback__button {
    width: 290px;
    margin: 0;
  }

  .feedback__push {
    flex-wrap: wrap;
  }

  .feedback form {
    max-width: 290px;
    margin: 0;
  }

  .feedback label {
    width: 290px;
    padding: 30px 0 0 34px;
  }

  .feedback__checkbox {
    & input + label::before {
      left: 1px;
      top: 32px;
    }

    & input:checked + label::after {
      left: 5px;
      top: 37px;
    }
  }
}
