.page-footer {
  border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  color: #1b2d37;

  &__top {
    display: flex;

    max-width: 1514px;
    width: 95vw;
    margin: 0 auto;
    padding: 52px 50px 57px;
  }

  &__bottom {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    max-width: 1514px;
    width: 95vw;
    min-height: 37px;
    margin: 0 auto -52px auto;
    padding: 0 50px;

    opacity: 0.5;

    & a {
      color: #1b2d37;
    }
  }

  &__logo {
    max-width: 218px;
    width: 16%;
    padding: 14px 0 0 0;
    margin: 0 auto 0 0;

    & a {
      color: #203c42;
    }
  }

  &__container {
    display: flex;
    width: 70%;
  }
}

.contacts {
  max-width: 333px;
  width: 35%;

  &__list {
    @include list-reset;
    margin: 0;

    opacity: 0.5;
  }

  &__item {
    margin-bottom: 4px;
  }

  &__title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-transform: uppercase;

    margin: 13px 0 26px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 25px;

    margin: 0;

    opacity: 0.5;
  }

  &__link {
    color: #1b2d37;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__button {
    display: none;
  }
}

.footer-nav {
  max-width: 514px;
  width: 50%;
  margin: 0 auto 0 0;

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-width: 380px;
    height: 100px;

    @include list-reset;

    color: #1b2d37;
    opacity: 0.5;
  }

  &__title {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    font-weight: normal;
    text-transform: uppercase;

    margin: 13px 0 26px 0;
  }

  &__link {
    font-size: 15px;
    line-height: 25px;
    color: #1b2d37;
  }

  &__item {
    margin-right: auto;
  }

  &__button {
    display: none;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;

  margin: 53px 0 0 0;

  &__item {
    margin: 0 15px 0 0;
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__link:active {
    opacity: 0.3;
  }

  @include list-reset;
}

.copyright {
  display: flex;

  &__info {
    display: block;

    width: 17%;
    min-width: 160px;
    margin: 0 auto 0 0;
  }

  &__date {
    display: block;

    width: 34%;
    min-width: 250px;
    margin: 0 auto 0 0;
  }

  &__privacy-terms {
    display: block;

    width: 28%;
    min-width: 220px;
    margin: 0 auto 0 0;
  }

  &__dev {
    display: block;
  }

  &__content {
    display: flex;

    width: 65%;
    margin-right: auto;
  }
}

.copyright a,
.footer-nav a {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: 1023px) {
  .page-footer {
    position: relative;

    &__top {
      padding: 5px 6px 42px;

      flex-direction: column;
      flex-wrap: wrap;
    }

    &__bottom {
      padding: 0 6px;
      margin: 0 auto -59px;
    }

    &__container {
      width: 98.5%;
    }
  }

  .contacts {
    position: relative;
    width: 50%;

    &__title {
      margin: 13px 0 26px 0;
    }
  }

  .footer-nav {
    &__list {
      height: 175px;
    }
  }

  .page-footer__logo {
    display: flex;

    margin: 0 auto 50px 0;
  }

  .social {
    position: absolute;
    right: 9px;

    min-width: 126px;
    margin: 10px 0 0;
  }

  .copyright {
    &__info {
      display: none;
    }

    &__date {
      position: absolute;
      left: 42.5%;
      top: 35px;
    }

    &__privacy-terms {
      width: 84%;
    }
  }
}

@media (max-width: 767px) {
  .page-footer {
    &__top {
      padding: 5px 5px 53px;
    }

    &__bottom {
      margin: 0 auto -98px;

      text-align: center;
    }

    &__logo {
      display: block;

      width: 100%;
      padding: 24px 0 15px 37px;

      & b,
      & span {
        display: block;
      }

      & img {
        width: 52px;
        height: 52px;
      }

      & p {
        margin: 22px 0 0 0;
      }

      & a {
        margin: 0 0 81px 0;
      }
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 259px;

    //   width: 100%;
    //   height: 1px;
    //   border-top: 1px solid rgba(98, 105, 98, 0.2);
    // }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   bottom: 227px;

    //   width: 100%;
    //   height: 1px;
    //   border-top: 1px solid rgba(98, 105, 98, 0.2);
    // }
  }

  .contacts {
    position: relative;

    width: 100%;

    &__title {
      margin: 13px 0 33px;
    }

    &__text {
      width: 272px;
    }

    &__button {
      display: block;

      position: absolute;
      top: 0;
      left: 274px;

      width: 16px;
      height: 16px;

      border: none;
      background-color: transparent;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position-y: center;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }

      &--opened {
        background-image: url("../img/icon-minus.svg");
      }
    }

    &__content {
      &--opened {
        display: block;
      }

      &--closed {
        display: none;
      }
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -29px;
    //   left: -14px;

    //   width: 100%;
    //   height: 1px;

    //   border-top: 1px solid rgba(98, 105, 98, 0.2);
    // }
  }

  .footer-nav {
    position: relative;

    margin: 0 132px 55px 0;

    &__button {
      display: block;
      position: absolute;

      top: 0;
      left: 274px;

      width: 16px;
      height: 16px;

      border: none;
      background-color: transparent;
      background-image: url("../img/icon-plus.svg");
      background-repeat: no-repeat;
      background-position-y: center;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.3;
      }

      &--opened {
        background-image: url("../img/icon-minus.svg");
      }
    }

    &__list {
      &--closed {
        display: none;
      }

      &--opened {
        display: block;
        height: 100%;
      }
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -31px;
    //   left: -14px;

    //   width: 100%;
    //   height: 1px;

    //   border-top: 1px solid rgba(98, 105, 98, 0.2);
    // }
  }

  .social {
    position: inherit;
    padding: 0 0 0 54px;
  }

  .copyright {
    display: block;

    &__date {
      left: 50%;
      top: 122px;

      width: 250px;
      margin: 0;

      transform: translate(-50%, 0);
    }

    &__privacy-terms {
      margin: 0 auto 21px;
    }

    &__content {
      width: 100%;
    }
  }

  .logo {
    width: 52px;
    margin: 0;
  }

  .page-footer__container {
    display: block;
  }
}
