.logo {
  display: flex;

  margin-right: auto;

  cursor: pointer;

  &:hover {
    & img,
    & p {
      opacity: 0.7;
    }
  }

  &:active {
    & img,
    & p {
      opacity: 0.3;
    }
  }

  & img {
    width: 52px;
    height: 52px;
    margin-right: 16px;
  }

  & b {
    display: block;

    min-width: 150px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 25px;
    line-height: 29px;
  }

  & span {
    display: block;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;

    color: #788891;
  }

  & p {
    margin: 5px 0 0 0;
  }
}

@media (max-width: 767px) {
  .logo b,
  .logo span {
    display: none;
  }

  .logo img {
    width: 38px;
    height: 38px;
    margin-top: 17px;
  }
}
