.main-nav__logo {
  margin-right: 550px;
}

.main-nav__logo b {
  display: block;

  margin-bottom: 2px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  line-height: 29px;

  color: #ffffff;
}

.main-nav__logo span {
  display: block;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;

  color: #788891;
}

.main-nav__logo img {
  position: absolute;
  top: 11px;
  left: 46px;
}

.main-nav__logo p {
  margin-left: 60px;
}
