.page-header {
  background-color: #1b2d37;
}

.main-nav {
  display: flex;

  max-width: 1411px;
  margin: 0 auto;

  color: #ffffff;
}

.main-nav__list {
  display: flex;

  margin-right: 51px;

  @include list-reset;
}

.main-nav__item:last-child {
  margin: 0 0 0 121px;
}


.main-nav__link {
  line-height: 18px;

  color: #ffffff;

  &--mail,
  &--phone {
    position: relative;
  }

  &--mail::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;

    left: -39px;
    top: 3px;

    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;

    left: -33px;
    top: 1px;

    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__button {
  margin-top: 5px;
}

@media (max-width: 1023px) {
  .main-nav {
    max-width: 720px;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__link span {
    display: none;
  }

  .main-nav__link {
    &--mail::before {
      left: 90px;
      top: 1px;

      width: 25px;
      height: 19px;

      background-image: url("../img/mail-tablet.svg");
    }

    &--phone::before {
      left: 26px;
      top: -2px;

      width: 24px;
      height: 24px;

      background-image: url("../img/phone-tablet.svg");
    }
  }
}

@media (max-width: 767px) {
  .main-nav {
    max-width: 288px;
  }

  .main-nav__link {
    &--mail::before {
      left: 99px;
      top: 9px;
    }

    &--phone::before {
      left: 26px;
      top: 6px;
    }
  }
}
