.main-nav {
  display: flex;

  width: 1411px;
  margin: 0 auto;

  color: #ffffff;
}

.main-nav__list {
  display: flex;
  list-style: none;

  margin: 26px 0 0 0;
}

.main-nav__item:last-child {
  margin: 0 0 0 121px;
}

.main-nav__link {
  line-height: 18px;

  color: #ffffff;

  &--mail::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;

    left: 798px;
    top: 30px;

    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;

    left: 1021px;
    top: 29px;

    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
  }
}

.main-nav__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;

  width: 180px;
  height: 45px;
  margin: 15px 0 0 50px;

  background-color: transparent;
  color: #ffffff;

  text-transform: uppercase;
  border-radius: 5px;
}
