.page-header {
  background-color: #1b2d37;
}

.main-nav {
  display: flex;

  max-width: 1428px;
  margin: 0 auto;

  color: #ffffff;
}

.main-nav__list {
  display: flex;
  list-style: none;

  margin: 26px 0 0 0;
}

.main-nav__item:last-child {
  margin: 0 0 0 71px;
}


.main-nav__link {
  line-height: 18px;

  padding: 0 0 0 50px;

  color: #ffffff;

  &--mail,
  &--phone {
    position: relative;
  }

  &--mail::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 14px;

    left: 11px;
    top: 3px;

    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
  }

  &--phone::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;

    left: 17px;
    top: 1px;

    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.05em;

  width: 180px;
  margin: 15px 17px 16px 50px;

  background-color: transparent;
  color: #ffffff;

  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    border-color: $light-blue;
  }

  &:active {
    opacity: 0.3;
    border-color: $light-blue;
  }
}

@media (max-width: 1023px) {
  .main-nav__button {
    display: none;
  }

  .main-nav__link span {
    display: none;
  }

  .main-nav__item:last-child {
    margin: 0 0 0 33px;
  }

  .main-nav__link {
    &--mail::before {
      left: 50px;
      top: -1px;

      width: 25px;
      height: 19px;

      background-image: url("../img/mail-tablet.svg");
    }

    &--phone::before {
      left: 25px;
      top: -4px;

      width: 24px;
      height: 24px;

      background-image: url("../img/phone-tablet.svg");
    }
  }
}

@media (max-width: 767px) {
  .main-nav__link {
    &--mail::before {
      left: 28px;
      top: -3px;
    }

    &--phone::before {
      left: -7px;
      top: -6px;
    }
  }
}
