.service {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  background-color: $dark-blue;
  color: #ffffff;
}

.service__info {
  max-width: 1300px;
  margin: 0 auto;
  padding: 51px 0 81px 66px;
}

.service__list {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;
}

.service__link {
  position: relative;
  display: block;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;

  width: 370px;
  height: 620px;
  margin: 0 30px 30px 0;
  padding: 49px 0 0 0;

  color: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;

    background-image: url("../img/icon-rectangle.svg");
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;

    width: 6px;
    height: 10px;

    background-image: url("../img/icon-vector.svg");
    background-repeat: no-repeat;
    bottom: 26px;
    right: 25px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  & img {
    margin: -49px 0 0 0;
  }

  & span {
    position: absolute;
    display: block;
    width: 296px;
    padding: 0 0 0 43px;
  }
}

.service__title {
  font-size: 36px;
  line-height: 51px;

  margin-bottom: 54px;
}

.service__text {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1023px) {
  .service__info {
    max-width: 720px;
    padding: 50px 0 16px 0;
  }

  .service__title {
    width: 613px;
    margin: 0 0 50px 0;

    font-size: 32px;
    line-height: 140.62%;
  }

  .service__list {
    flex-direction: column;
  }

  .service__link {
    width: 720px;
    height: 256px;
    padding: 39px 0 0;

    & img {
      margin: -40px 0 0;
    }

    &--accessories {
      padding: 50px 0 0;

      & img {
        margin: -50px 0 0;
      }
    }
  }

  .service__item {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .service__info {
    max-width: 290px;
    padding: 48px 0 19px;
  }

  .service__title {
    font-size: 28px;
    line-height: 140.62%;

    width: 280px;
    margin: 0 0 43px 10px;
  }

  .service__item {
    width: 290px;
    height: 256px;
    margin-bottom: 30px;
  }

  .service__link {
    width: 290px;
    height: 256px;
    padding: 19px 0 0;

    & img {
      margin: -19px 0 0;
    }

    & span {
      padding: 0 0 0 34px;
    }

    &--accessories {
      padding: 29px 0 0;

      & img {
        margin: -29px 0 0;
      }
    }
  }
}
