.service {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  background-color: $dark-blue;
  color: #ffffff;
}

.service__info {
  max-width: 1335px;
  margin: 0 auto;
  padding: 51px 50px 104px;
}

.service__list {
  @include list-reset;
  display: flex;

  padding: 0 0 0 32px;
}

.service__item {
  width: 31%;
  margin-right: 30px;
}

.service__link {
  position: relative;
  display: block;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;

  // width: 370px;
  width: 100%;
  // height: 620px;
  padding: 49px 0 0 0;

  color: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;

    background-image: url("../img/icon-rectangle.svg");
    background-repeat: no-repeat;
    right: 1px;
    bottom: 7px;
  }

  &::after {
    content: "";
    position: absolute;

    width: 6px;
    height: 10px;

    background-image: url("../img/icon-vector.svg");
    background-repeat: no-repeat;
    bottom: 33px;
    right: 27px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  & img {
    margin: -47px 0 0;
  }

  & span {
    position: absolute;
    display: block;
    width: 296px;
    padding: 0 0 0 43px;
  }
}

.service__title {
  font-size: 36px;
  line-height: 51px;

  margin: 34px 0 55px 33px;
}

.service__text {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1023px) {
  .service__info {
    max-width: 720px;
    width: 95%;
    padding: 50px 0 16px 0;
  }

  .service__title {
    max-width: 613px;
    width: 100%;
    margin: 0 0 50px 0;

    font-size: 32px;
    line-height: 140.62%;
  }

  .service__list {
    flex-direction: column;

    padding: 0;
  }

  .service__link {
    max-width: 720px;
    height: 256px;
    padding: 39px 0 0;

    & img {
      margin: -40px 0 0;
    }

    &--accessories {
      padding: 50px 0 0;

      & img {
        margin: -50px 0 0;
      }
    }

    &::before {
      right: 1px;
      bottom: 0;
    }

    &::after {
      bottom: 27px;
      right: 26px;
    }
  }

  .service__item {
    width: 100%;
    margin-bottom: 46px;
  }
}

@media (max-width: 767px) {
  .service__info {
    width: 91%;
    padding: 48px 0 19px;
  }

  .service__title {
    font-size: 28px;
    line-height: 140.62%;

    // width: 280px;
    margin: 0 0 43px 10px;
  }

  .service__item {
    // width: 290px;
    height: 256px;
    margin-bottom: 30px;

    & img {
      width: 100%;
      max-height: 256px;
    }
  }

  .service__link {
    // width: 290px;
    height: 256px;
    padding: 19px 0 0;

    & img {
      margin: -19px 0 0;
    }

    & span {
      padding: 0 0 0 34px;
    }

    &--accessories {
      padding: 29px 0 0;

      & img {
        margin: -29px 0 0;
      }
    }

    &::after {
      bottom: 26px;
      right: 28px;
    }
  }
}
